<h1>Available games</h1>

<table class="games-list">
  <thead>
    <tr>
      <td>ID</td>
      <td>Created at</td>
      <td>Total Score</td>
      <td>State</td>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to "Game #{game.id}", game %></td>
        <td><%= time_ago_in_words(game.created_at) %></td>
        <td><%= game.total_score? %></td>
        <td class="<%= game.finished ? 'closed' : 'open' %>-state"><%= game.finished ? 'Closed' : 'Open' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
