<div class="wrapper">
  <h1><%= "Game #{@game.id}" %></h1>

  <div class="score-sheet">
    <table>
      <thead>
        <tr>
          <th colspan="2">1</th>
          <th colspan="2">2</th>
          <th colspan="2">3</th>
          <th colspan="2">4</th>
          <th colspan="2">5</th>
          <th colspan="2">6</th>
          <th colspan="2">7</th>
          <th colspan="2">8</th>
          <th colspan="2">9</th>
          <th colspan="3">10</th>
          <th>Total score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @game.frames.take(9).each do |frame| %>
            <td class="first-roll"><%= frame.first_roll %></td>
            <td class="second-roll"><%= frame.second_roll %></td>
          <% end %>

          <% frame = @game.frames.last %>
            <td class="first-roll"><%= frame.first_roll %></td>
            <td class="second-roll"><%= frame.second_roll %></td>
            <td class="third-roll"><%= frame.third_roll %></td>
          <td class="total-score" rowspan="2"><%= @game.total_score %></td>
        </tr>
        <tr>
          <% @game.frames.take(9).each do |frame| %>
            <td class="frame-score" colspan="2"><%= frame.score unless frame.score == 0 %></td>
          <% end %>
          <td class="frame-score" colspan="3"><%= @game.frames.last.score unless @game.frames.last.score == 0 %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <%= form_tag game_path(@game), :method => "put" do %>
    <%= label_tag(:number_of_pins, "Number of pins:") %>
    <%= number_field_tag(:number_of_pins, nil, :autofocus => true, :in => 0...11) %>
    <%= submit_tag "Roll!" %>
  <% end %>

  <%= link_to 'Back to Title', root_url, :class => 'action back' %>
</div>
